<div class="bloque container">
    <div class="ranking-container">
        <div class="album-item uno">
            <div class="informacion">

                <h2 class="nombre">COCO</h2>
            <p class="texto">A pesar de las desconcertantes tradiciones de su familia entre las que se encuentra la vieja prohibición 
                de estar en contacto con la música, Miguel<b>(voz de Anthony Gonzalez) </b> sueña convertirse en un consumado éxito como su ídolo,
                Ernesto de la Cruz (voz de Benjamín Bratt). Desesperado por demostrar su talento, Miguel se encuentra en la impresionante y
                colorida Tierra de los Muertos siguiendo una misteriosa cadena de eventos. A lo largo del camino, conocerá al encantador y tramposo Héctor 
                (voz de Gael García Bernal), y juntos emprenderán un viaje extraordinario para desvelar la verdad que hay detrás de la historia familiar de Miguel.
            </p>
                <small class="ventas">8.3 Valoración Público</small>
            </div>
            <img class="img-ranking" src="./img/coco.jpg" alt="">
        </div>

        <div class="album-item tres">
            <div class="informacion">
                <h2 class="nombre">Cars 3</h2>
                <p class="texto">Sorprendido por una nueva generación de corredores ultrarrápidos, el legendario Rayo McQueen queda relegado 
                repentinamente del deporte que tanto ama. Para retomar su carrera, va a necesitar la ayuda de una joven mecánica de carreras,
                Cruz Ramírez, que tiene su propio plan para ganar, además de la inspiración del fallecido Fabuloso Hudson Hornet y un par de giros
                 inesperados. ¡Y para probar que el nº95 no está ni mucho menos acabado, el campeón tendrá que poner a prueba su valía en el gran
                  circuito de la Copa Piston! 
                </p>
                <small class="ventas">6.6 Valoración Público</small>
            </div>
            <img class="img-ranking" src="./img/car.jpg" alt="">
        </div>

        <div class="album-item dos">
            <div class="informacion">
                <h2 class="nombre">Bebe jefazo</h2>
                <p class="texto">Tim es un niño de siete años que tiene la vida perfecta. Tiene unos padres que le adoran y es el rey de la casa.
                Pero todo cambia un día que sus padres traen a casa a un extraño inquilino: un bebé que será su nuevo hermano a partir 
                de ahora. El nuevo miembro de la familia no es, ni mucho menos, un bebé corriente. Lleva traje, un misterioso maletín,
                y parece haberse hecho con el control de la casa. Muy desconfiado de todo lo que está ocurriendo, Tim decide espiar al
                bebé mientras todos duermen. Para su asombro, no sólo descubre que el bebé puede hablar, sino que además es un verdadero 
                jefazo. Su plan: desmantelar el cruel complot que el director ejecutivo de la compañía Puppy Co. está urdiendo. 
                Los hermanos tendrán que unirse para evitar que se salgan con la suya. </p>

                <small class="ventas">7.3 Valoración Público</small>
            </div>
            <img class="img-ranking" src="./img/bebe.jpg" alt="">
        </div>
    </div>

    <div class="title-ranking">
        <h1>Top 3 Best animation film 2017</h1>
    </div>
</div>
