
<section class="songs-list ideal">
    
    <div class="ui-status empty">
        No hay ninguna canción.
    </div>
    
    <div class="ui-status error">
        Se ha producido un error
    </div>
    
    <div class="ui-status loading">
        Cargando...
    </div>
    
    <div class="ui-status ideal">
        <article class="song">
            <a href="detail.html">
                <img class="cover" src="img/coco.jpg" alt="coco">
            </a>
            <div class="artist">Coco</div>
            <div class="title">'Coco' cuenta la historia de Miguel.</div>
        </article>
        
        <article class="song">
            <a href="detail.html">
            <img class="cover" src="img/ferdinan.jpg" alt="Ferdinand">
            </a>
            <div class="artist">Ferdinand</div>
            <div class="title">Ferdinand es un toro con un gran corazón.</div>
        </article>
        
        <article class="song">
            <a href="detail.html">
            <img class="cover" src="img/emo.jpg" alt="">
            </a>
            <div class="artist">Emoji</div>
            <div class="title">Descubre los secretos del mundo interior de tu smartphone.</div>
        </article>
        
        <article class="song">
            <a href="detail.html">
            <img class="cover" src="img/bebe.jpg" alt="">
            </a>
            <div class="artist">Bebe jefazo</div>
            <div class="title"> La llegada de un hermanito trastoca la vida de Tim</div>
        </article>
        
        
        <article class="song">
            <a href="detail.html">
            <img class="cover" src="img/car.jpg" alt="">
            </a>
            <div class="artist">Cars 3</div>
            <div class="title">Nueva generación de corredores ultrarrápidos aparece.</div>
        </article>
        
        <article class="song">
            <a href="detail.html">
            <img class="cover" src="img/desp.jpg" alt="">
            </a>
            <div class="artist">Despicable me</div>
            <div class="title">Balthazar Pratt, un antiguo niño estrella obsesionado con...</div>
        </article>
        
        <article class="song">
            <a href="detail.html">
            <img class="cover" src="img/barr.jpg" alt="">
            </a>
            <div class="artist">Los pitufos</div>
            <div class="title">Pitufina y sus hermanos practican senderismo por el Bosque Encantado ...</div>
        </article>
        
        <article class="song">
            <a href="detail.html">
            <img class="cover" src="img/cal.jpg" alt="">
            </a>
            <div class="artist">El capitan calzoncillos</div>
            <div class="title">Dos bromistas hipnotizan al director del cole haciéndole creer que es un superhéroe...</div>
        </article>
        
        <article class="song">
            <a href="detail.html">
            <img class="cover" src="img/tadeo.jpg" alt="">
            </a>
            <div class="artist">Tadeo Jones 2</div>
            <div class="title">Tadeo viaja a Las Vegas para la presentación del último descubrimiento de...</div>
        </article>
        
        <article class="song">
            <a href="detail.html">
            <img class="cover" src="img/deep.jpg" alt="">
            </a>
            <div class="artist">Deep</div>
            <div class="title">En un futuro no muy lejano, los últimos supervivientes del planeta tierra son...</div>
        </article>
       
    </div>
    
</section>